<!-- Sidebar -->

<div class="col-md-2 sidebar d-none d-md-block">
  <h4> <i style="font-size:24px" class="fa">&#xf0e4;</i> Dashboard</h4>
  <a href="{% url 'office_home' %}" class="{% if request.path == '/office-dashboard/' %} active {% endif %}">
    <i style="font-size:24px" class="fa">&#xf015;</i> &nbsp;
    Home</a>
  <a href="{% url 'add_sheme' %}" class="{% if request.path == '/add-scheme/' %} active {% endif %}">
    
    <i class="fa fa-plus-circle"></i> 
    Add Government Scheme</a>

    <a href="{% url 'admin_report' %}" class="{% if request.path == '/admin-report/' %} active {% endif %}">
      <i class="fa fa-bar-chart"></i> &nbsp;
      Generate Report
  </a>
  <a href="{% url 'edit_profile' %}" class="{% if request.path == '/edit-profile/' %} active {% endif %}">
    <i class="fa fa-user-circle"></i> &nbsp;
   Edit Profile</a>
  <a href="{% url 'change_password' %}" class="{% if request.path == '/change-password/' %} active {% endif %}">
    <i class="fa fa-key"></i> &nbsp;
    Change Password
  </a>
  


    
  {% comment %} <a href="#">
    <i class="fa fa-file"></i> &nbsp;
    Reports</a>
  
  <a href="#">
    <i class="fa fa-cogs"></i> &nbsp;
    Settings</a> {% endcomment %}

  <a href="{% url "f_logout" %}" class="logout-btn">
    <i class="fa fa-sign-out"></i> &nbsp;

    Logout</a>
</div>

<!-- Sidebar collapse button for smaller screens -->
<button class="toggle-btn d-md-none" id="sidebarToggle">
  <i class="bi bi-list bg-dark">Ni</i> <!-- Bootstrap icons for a hamburger menu -->
  <i class="bi bi-list">Ni</i> <!-- Bootstrap icons for a hamburger menu -->
  <i class="bi bi-list">Ni</i> <!-- Bootstrap icons for a hamburger menu -->
  <i class="bi bi-list">Ni</i> <!-- Bootstrap icons for a hamburger menu -->
</button>