<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <option value="10440">
    Vengola  VFPCK
   </option>
   <option value="1086">
    Venkatagiri
   </option>
   <option value="1087">
    Venkateswarnagar
   </option>
   <option value="2783">
    Venkateswarnagar(Chintapalli)
   </option>
   <option value="10416">
    Venmony  VFPCK
   </option>
   <option value="2636">
    Vepanjari
   </option>
   <option value="10211">
    Veppanthattai(Uzhavar Sandhai )
   </option>
   <option value="2676">
    Veraval
   </option>
   <option value="2812">
    Vettavalam
   </option>
   <option value="199">
    Vidisha
   </option>
   <option value="10651">
    Vidisha(F&amp;V)
   </option>
   <option value="1150">
    Vijapur
   </option>
   <option value="2959">
    Vijapur(Gojjariya)
   </option>
   <option value="2958">
    Vijapur(Kukarvada)
   </option>
   <option value="3212">
    Vijapur(Ladol)
   </option>
   <option value="3213">
    Vijapur(veg)
   </option>
   <option value="10065">
    Vijaya Agri Private Market
   </option>
   <option value="18">
    Vijayanagaram
   </option>
   <option value="4306">
    Vijayanagaram(Rythu Bazar)
   </option>
   <option value="1088">
    Vijayawada
   </option>
   <option value="1221">
    Vijayawada(S.Maidan),RBZ
   </option>
   <option value="1523">
    Vijaynagar
   </option>
   <option value="3015">
    Vijaynagar(Kundlakap)
   </option>
   <option value="3057">
    Vijaypur
   </option>
   <option value="394">
    Vikarabad
   </option>
   <option value="695">
    Vikasnagar
   </option>
   <option value="1846">
    Vikkiravandi
   </option>
   <option value="10029">
    Vikramganj
   </option>
   <option value="1908">
    Vilaspur
   </option>
   <option value="1107">
    Vilathikulam
   </option>
   <option value="307">
    Villupuram
   </option>
   <option value="10290">
    Villupuram(Uzhavar Sandhai )
   </option>
   <option value="2615">
    Vilthararoad
   </option>
   <option value="8178">
    Vinayak Krishi-Mandi Yard
   </option>
   <option value="1089">
    Vinukonda
   </option>
   <option value="10217">
    Viralimalai(Uzhavar Sandhai )
   </option>
   <option value="449">
    Viramgam
   </option>
   <option value="2687">
    Virpur
   </option>
   <option value="293">
    Virudhachalam
   </option>
   <option value="674">
    Virudhunagar
   </option>
   <option value="10295">
    Virudhunagar(Uzhavar Sandhai )
   </option>
   <option value="10156">
    Viruthachalam(Uzhavar Sandhai )
   </option>
   <option value="874">
    Visakhapatnam
   </option>
   <option value="1696">
    Visavadar
   </option>
   <option value="1909">
    Vishalpur
   </option>
   <option value="4098">
    Vishrampur
   </option>
   <option value="62">
    Visnagar
   </option>
   <option value="2573">
    Visoli
   </option>
   <option value="2588">
    Viswan
   </option>
   <option value="2080">
    Vita
   </option>
   <option value="4386">
    Vithinasserri VFPCK
   </option>
   <option value="10073">
    Vitthal Krushi Utpanna Bazar
   </option>
   <option value="1091">
    Voligonda
   </option>
   <option value="2782">
    Voligonda(Ramannapet)
   </option>
   <option value="1093">
    Vuyyur
   </option>
   <option value="3568">
    Vuyyur,RBZ
   </option>
   <option value="4298">
    Vuyyuru(Rythu Bazar)
   </option>
   <option value="2983">
    Vyara(Paati)
   </option>
   <option value="471">
    Vyra
   </option>
   <option value="2367">
    Wadakkanchery
   </option>
   <option value="3990">
    Wahiajer
   </option>
   <option value="10499">
    Waknaghat
   </option>
   <option value="1094">
    Wanaparthy Road
   </option>
   <option value="2776">
    Wanaparthy Road(Prbbair)
   </option>
   <option value="1095">
    Wanaparthy town
   </option>
   <option value="2622">
    Wansi
   </option>
   <option value="19">
    Warangal
   </option>
   <option value="1804">
    Wardha
   </option>
   <option value="1096">
    Wardhannapet
   </option>
   <option value="8243">
    Warsola
   </option>
   <option value="2396">
    Washi (Dharashiv)
   </option>
   <option value="1800">
    Washim
   </option>
   <option value="2509">
    Washim(Ansing)
   </option>
   <option value="2574">
    Wazirganj
   </option>
   <option value="1242">
    Weekly Market Area,RBZ
   </option>
   <option value="8098">
    Weir
   </option>
   <option value="2049">
    Williamnagar
   </option>
   <option value="614">
    Wokha Town
   </option>
   <option value="1097">
    Wyra
   </option>
   <option value="8028">
    Wyra
   </option>
   <option value="760">
    Yadgir
   </option>
   <option value="774">
    Yalburga
   </option>
   <option value="473">
    Yamuna Nagar
   </option>
   <option value="4272">
    Yamunanagar(Fish Market)
   </option>
   <option value="4355">
    Yanam
   </option>
   <option value="10085">
    Yashika Agro Marketing
   </option>
   <option value="1445">
    Yawal
   </option>
   <option value="1098">
    Yellamanchili
   </option>
   <option value="802">
    Yellandu
   </option>
   <option value="8025">
    Yellandu
   </option>
   <option value="795">
    Yellapur
   </option>
   <option value="393">
    Yellareddy
   </option>
   <option value="1099">
    Yemmiganur
   </option>
   <option value="167">
    Yeola
   </option>
   <option value="602">
    Yeotmal
   </option>
   <option value="2917">
    Yingkiong
   </option>
   <option value="2608">
    Yusufpur
   </option>
   <option value="9986">
    Z[State Total]
   </option>
   <option value="9987">
    Z[State Total]
   </option>
   <option value="9988">
    Z[State Total]
   </option>
   <option value="9989">
    Z[State Total]
   </option>
   <option value="9990">
    Z[State Total]
   </option>
   <option value="9991">
    Z[State Total]
   </option>
   <option value="9992">
    Z[State Total]
   </option>
   <option value="9993">
    Z[State Total]
   </option>
   <option value="9994">
    Z[State Total]
   </option>
   <option value="9995">
    Z[State Total]
   </option>
   <option value="9996">
    Z[State Total]
   </option>
   <option value="9997">
    Z[State Total]
   </option>
   <option value="9998">
    Z[State Total]
   </option>
   <option value="9999">
    Z[State Total]
   </option>
   <option value="396">
    Zaheerabad
   </option>
   <option value="3003">
    Zalod(Sanjeli)
   </option>
   <option value="3210">
    Zalod(Zalod)
   </option>
   <option value="498">
    Zaloosa-Chararishrief (F&amp;V)
   </option>
   <option value="2108">
    ZariZamini
   </option>
   <option value="8113">
    Zerota
   </option>
   <option value="1581">
    Zira
   </option>
   <option value="1136">
    Ziro
   </option>
   <option value="1870">
    Zunheboto
   </option>
  </select>
 </div>
 <div class="commodity">
  <label>
   Date From
  </label>
  <input id="txtDate" name="txtDate" type="text"/>
  <input id="ValidatorExtender1_ClientState" name="ValidatorExtender1_ClientState" type="hidden"/>
 </div>
 <div class="commodity">
  <label>
   Date To
  </label>
  <input id="txtDateTo" name="txtDateTo" type="text"/>
  <input id="ValidatorCalloutExtender2_ClientState" name="ValidatorCalloutExtender2_ClientState" type="hidden"/>
 </div>
 <div class="market">
  <input class="btn" id="btnGo" name="btnGo" onclick='return Validate();WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("btnGo", "", true, "", "", false, false))' type="submit" value="Go"/>
 </div>
</div>
</div>
<div class="container-fuild" id="frame1">
<iframe src="https://agmarknet.gov.in/agnew/namticker.aspx" style="width:97%;height:70px;border:none; margin-top:-25px">
</iframe>
</div>
<div class="loader">
<div id="UpdateProgress1" style="display:none;">
 <div>
  <span id="lblWait">
   Please wait...
  </span>
  <img align="middle" id="imgWait" src="images/loader.gif"/>
 </div>
</div>
</div>
<div class="clear">
</div>
<div id="leftpnl">
<ul>
 <li class="relatedlinks">
  <a href="DailyDataEntry/Daily_data_Entry_Login.aspx" target="_blank" title="Daily Data Entry">
   Market Daily Data Entry
  </a>
 </li>
 <li class="relatedlinks">
  <a href="market_profile/Home.aspx" target="_blank" title="Market Profile Updation">
   Market Profile Update
  </a>
 </li>
 <li class="feedback">
  <a href="http://dmi.gov.in" target="_blank" title="DMI portal">
   DMI Portal
  </a>
 </li>
 <li class="relatedlinks">
  <a href="https://agmarkonline.dmi.gov.in/DMI/" target="_blank" title="Agmarkonline Portal(AQCMS) ">
   Agmarkonline Portal
  </a>
 </li>
 <li class="marketingboard">
  <a href="MarketingBoards/Default.aspx" target="_blank" title="Marketing Board">   
   Marketing Board
  </a>
 </li>
 <li class="research">
  <a href="ResearchStudies/Default.aspx" target="_blank" title="Research Studies">  
   Research Studies
  </a>
 </li>
 <li class="commodity">
  <a href="CommodityProfiles/Default.aspx" target="_blank" title="Commodity Profile">
   Commodity Profiles
  </a>
 </li>
 <li class="foodoutlook">
  <a href="http://www.fao.org/giews/english/index.htm" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Food Outlook">     
   Food Outlook
  </a>
 </li>
 <li class="relatedlinks">
  <a href="RelatedSites/Default.aspx" target="_blank" title="Related Links">        
   Related Links
  </a>
 </li>
 <li class="marketprofile">
  <a href="MarketProfile/MarketProfile.aspx" target="_blank" title="Market Profile">
   Market Profile
  </a>
 </li>
 <li class="smsregistration">
  <a href="https://mkisan.gov.in/Alpha/default.aspx" title="MKisan Farmer Registration">
   SMS Registration
  </a>
 </li>
 <li class="marketingboard">
  <a href="pmsnew/pms_Login.aspx" title="Performance Monitoring">
   Performance Monitoring
  </a>
 </li>
 <li class="faq">
  <a href="OtherPages/FAQ.aspx" title="FAQ">
   FAQ
  </a>
 </li>
 <li class="feedback">
  <a href="ConatctUs/Feedback.aspx" title="Feedback">
   Feedback/Suggestions
  </a>
 </li>
</ul>
</div>
<div id="middlepnl">
<h1>
 Dashboard
</h1>
<div id="box1">
 <a href="CommodityWiseGraph/ComGraphBoard.aspx" title="Commodity-wise Graph">      
  <span>
   Commodity-wise Graph
  </span>
  <img alt="Commodity-wise Graph" src="images/box1.png"/>
 </a>
</div>
<div id="box2">
 <a href="MarketWiseGraph/MarkGraphBoard.aspx" title="Market-wise Graph">
  <span>
   Market-wise Graph
  </span>
  <img alt="Market-wise Graph" src="images/box2.png"/>
 </a>
</div>
<div id="box3">
 <a href="DailyMarketReport/StateWiseMarketWiseDailyReport.aspx" title="Daily Market Report">
  <span>
   Daily Market Report
  </span>
  <img alt="Daily Market Report" src="images/box3.png"/>
 </a>
</div>
<div id="box4">
 <a href="PriceTrendDashboard/TrendCompare.aspx" title="Price Trend">
  <span>
   Price Trend
  </span>
  <img alt="Price Trend" src="images/box4.png"/>
 </a>
</div>
<div class="span" style="visibility:hidden;">
 <table>
  <tr>
   <td>
    SPOT
   </td>
   <td>
    <iframe height="40" id="frm1" src="http://beta.mcxindia.com/external-data/ticker-spot/agmark" width="350">
    </iframe>
   </td>
  </tr>
  <tr>
   <td>
    Future
   </td>
   <td>
    <iframe height="40" id="Iframe1" src="http://beta.mcxindia.com/external-data/ticker-future/agmark" width="350">
    </iframe>
   </td>
  </tr>
 </table>
</div>
</div>
<div id="rightpnl">
<div class="rightpnltop">
 <span style="color:white;font-size:medium;margin-left: 20px;line-height: 26px;font-weight: bold;letter-spacing: 1px;">
  Today's Mandi Prices
 </span>
</div>
<div class="rightpnlmiddle" id="AAAA">
 <table class="tableagmark">
  <tr>
   <td colspan="3">
    For more queries on Prices and Arrivals
    <a href="PriceAndArrivals/arrivals1.aspx">
     Click here
    </a>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <span class="label" id="lblDate">
     All India Level Price Range (Rs./Quintal) : 03-Apr-2025
    </span>
   </td>
  </tr>
  <tr>
   <td colspan="3">
    <span class="label" id="Label_Markets_Reported">
     Markets Reported : 1801
    </span>
   </td>
  </tr>
  <tr>
   <td class="auto-style1" colspan="3">
    NR:-Not Reported
   </td>
  </tr>
 </table>
 <div id="UpdPnlGrid1">
  <div>
   <table border="1" cellspacing="0" class="tableagmark" id="gvCustomers" rules="all">
    <tr>
     <th scope="col">
     </th>
     <th scope="col">
      Commodity
     </th>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_0" name="gvCustomers$ctl02$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl02$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Cereals
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_1" name="gvCustomers$ctl03$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl03$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Pulses
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_2" name="gvCustomers$ctl04$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl04$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Oil Seeds
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_3" name="gvCustomers$ctl05$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl05$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Fibre Crops
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_4" name="gvCustomers$ctl06$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl06$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Fruits
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_5" name="gvCustomers$ctl07$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl07$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Vegetables
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_6" name="gvCustomers$ctl08$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl08$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Spices
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_7" name="gvCustomers$ctl09$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl09$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Dry Fruits
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_8" name="gvCustomers$ctl10$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl10$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Beverages
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_9" name="gvCustomers$ctl11$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl11$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Other
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_10" name="gvCustomers$ctl12$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl12$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Drug and Narcotics
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_11" name="gvCustomers$ctl13$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl13$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Forest Products
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_12" name="gvCustomers$ctl14$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl14$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Live Stock,Poultry,Fisheries
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_13" name="gvCustomers$ctl15$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl15$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Flowers
     </td>
    </tr>
    <tr>
     <td>
      <input id="gvCustomers_imgOrdersShow_14" name="gvCustomers$ctl16$imgOrdersShow" onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("gvCustomers$ctl16$imgOrdersShow", "", true, "", "", false, false))' src="images/plus.png" type="image"/>
     </td>
     <td width="150">
      Oils and Fats
     </td>
    </tr>
   </table>
  </div>
 </div>
</div>
<div class="rightpnlbottom">
</div>
<div style="height:120px;width:300px">
 <br/>
 <a href="https://www.g20.in/en/" target="_blank">
  <img src="images/millets_logo.jpg"/>
  <img src="images/g20-logo.png"/>
 </a>
</div>
</div>
<marquee behavior="alternate" direction="left" onmouseout="this.start();" onmouseover="this.stop();" scrollamount="5" style="height: 60px;">
<a height="59px" href="http://www.enam.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="National Agriculture Market" width="210px">
 <img alt="National Agriculture Market" src="images/nam.png"/>
</a>
<a height="59px" href="http://farmer.gov.in/insurance/login.aspx" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Crop Insurance Portal Department of Agriculture and Cooperation" width="210px">
 <img alt="Crop Insurance Portal Department of Agriculture and Cooperation" src="images/cropinsurance_scroll.png.png"/>
</a>
<a height="59px" href="http://farmer.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Farmers Portal" width="210px">
 <img alt="Farmers' Portal" src="images/farportal.png"/>
</a>
<a href="https://data.gov.in/catalogs/ministry_department/directorate-marketing-and-inspection-dmi" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Open Govt. Data Portal">
 <img alt="Open Govt. Data Portal" src="images/datagovin.jpg"/>
</a>
<a height="59px" href="http://mkisan.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Mkisan Portal" width="210px">
 <img alt="Mkisan Portal" src="images/mkisanportal.png"/>
</a>
<a height="59px" href="http://www.agricoop.nic.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Department of Agriculture and Cooperation" width="210px">
 <img alt="Department of Agriculture and Cooperation" src="images/dacscroll.png"/>  
</a>
<a height="59px" href="http://www.trifed.in/trifed/%28S%28fee0dtczxaeamr54sbmlkpwa%29%29/default.aspx" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Tribal Co-operative Marketing Development Federation of India Limited" width="210px">
 <img alt="Tribal Co-operative Marketing Development Federation of India Limited" src="images/tribal.png"/>
</a>
<a height="59px" href="http://seednet.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="National Initiative for Information on Quality Seeds (Seednet India Portal)" width="210px">
 <img alt="National Initiative for Information on Quality Seeds (Seednet India Portal)" src="images/seedscrollnew.png"/>
</a>
<a height="59px" href="http://www.urvarak.co.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Fertiliser Monitoring System" width="210px">
 <img alt="Fertiliser Monitoring System" src="images/fertilizerscroll.png"/>        
</a>
<a height="59px" href="http://rkvy.nic.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Rashtriya Krishi Vikas Yojana" width="210px">
 <img alt="Rashtriya Krishi Vikas Yojana" src="images/rkvyscroll.png"/>
</a>
<a height="59px" href="http://www.nhm.nic.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="National Horticulture Mission" width="210px">
 <img alt="National Horticulture Mission" src="images/nhmscroll.png"/>
</a>
<a height="59px" href="http://www.dacnet.nic.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="A Gateway to Directorate Portals of the Department of Agriculture &amp; Cooperation" width="210px">
 <img alt="A Gateway to Directorate Portals of the Department of Agriculture &amp; Cooperation" src="images/dacnetscroll.png"/>
</a>
<a height="59px" href="http://www.nfsm.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="National Food Security Mission, Government of India" width="210px">
 <img alt="National Food Security Mission, Government of India" src="images/nfsmscroll.png"/>
</a>
<a height="59px" href="http://www.icar.org.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="ICAR" width="210px">      
 <img alt="ICAR" src="images/icarscroll.png"/>
</a>
<a height="59px" href="http://farmech.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Mechanization and Technology" width="210px">
 <img alt="Mechanization and Technology" src="images/farmmechscroll.png"/>
</a>
<a height="59px" href="cropdirectorate.aspx" onclick="return confirm('This link will take you to an external web site');" target="_self" title="Crop Directorate" width="210px">
 <img alt="Crop Directorate" src="images/cropdirectoratescroll.png"/>
</a>
<a height="59px" href="http://www.nvsp.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="National Voter's Service Portal" width="210px">
 <img alt="National Voter's Service Portal" src="images/nvsp.png"/>
</a>
<a height="59px" href="http://india.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="National Portal of India" width="210px">
 <img alt="National Portal of India" src="images/indiagov.png"/>
</a>
<a height="59px" href="http://www.digitalindia.gov.in/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Digital India" width="210px">
 <img alt="Digital India" src="images/digitalindia.png"/>
</a>
<a height="59px" href="https://www.msamb.com/" onclick="return confirm('This link will take you to an external web site');" target="_blank" title="Maharashtra State Agriculture Marketing Board" width="210px">
 <img alt="Maharashtra State Agriculture Marketing Board" src="images/maharashtrastate.png"/>
</a>
</marquee>
</div>
<!--footer content Start Here-->
<div id="footer">
<div id="footerlinks">
<ul class="footermargin">
 <li class="marketingboard">
  <a href="MarketingBoards/" target="_self" title="Marketing Board">
   Marketing Board
  </a>
 </li>
 <li>
  <a href="http://agmarknet.gov.in/" title="Home Page">
   Home
  </a>
 </li>
 <li>
  <a href="OtherPages/aboutus.aspx" target="_self" title="About Us">
   About Us
  </a>
 </li>
 <li>
  <a href="OtherPages/Help.aspx" title="Help">
   Help
  </a>
 </li>
 <li>
  <a href="Others/RTI_DMI.pdf" target="_self" title="RTI">
   RTI
  </a>
 </li>
 <li>
  <a href="OtherPages/hyperlink.aspx" title="Hyperlinking Policy">
   Hyperlinking Policy
  </a>
 </li>
 <li>
  <a href="OtherPages/privacy.aspx" title="Privacy Policy">
   Privacy Policy
  </a>
 </li>
 <li>
  <a href="OtherPages/sitemap.aspx" title="Sitemap">
   Sitemap
  </a>
 </li>
 <li>
  <a href="Others/CITIZEN_CHARTER.pdf" title="Citizen Charter">
   Citizen Charter
  </a>
 </li>
 <li>
  <a href="OtherPages/accessibility.aspx" title="Accessibility Statement">
   Accessibility Statement
  </a>
 </li>
 <li>
  <a href="OtherPages/Disclaimer.aspx" title="Disclaimer">
   Disclaimer
  </a>
 </li>
 <li class="last">
  <a href="OtherPages/WebitePolicy.aspx" title="Website Policy">
   Website Policy
  </a>
 </li>
</ul>
</div>
<div class="clear">
</div>
<div id="owner">
Directorate of Marketing &amp; Inspection (DMI),Ministry of Agriculture and Farmers Welfare,
<br/>
Government of India
<br/>
<div class="hitcounter">
 <div class="floatleft">
  <p>
   Total Hits
  </p>
  <img alt="Counter" height="30px" src="CodeFile/HitCounter.aspx" style="width: 100px; height: 25px; float: right"/>
 </div>
 <div class="floatright">
  <p>
   Today's Hits
  </p>
  <img alt="Counter" height="30px" src="CodeFile/HitCounterToday.aspx" style="width: 100px; height: 25px; float: right"/>
 </div>
</div>
</div>
</div>
</div>
<script type="text/javascript">
//<![CDATA[
Sys.Application.add_init(function() {
$create(Sys.Extended.UI.CalendarBehavior, {"format":"dd-MMM-yyyy","id":"CalendarExtender1","selectedDate":"2025-04-03T00:00:00"}, {"dateSelectionChanged":checkDate}, null, $get("txtDate"));
});
Sys.Application.add_init(function() {
$create(Sys.Extended.UI.ValidatorCalloutBehavior, {"ClientStateFieldID":"ValidatorExtender1_ClientState","closeImageUrl":"/WebResource.axd?d=097S8ID2ekrypwNx9SBHpICw7snu13c1CiTLmYEaKemrr-O9wfJ6oDjaf6US-KZgjifmP_uPbQMMhjqihwuNnI4-9_7BBRFYXZsjSmIalTcC9V9SWiF9sEp_R2X4SLquu0B-ovXjwTrJMlODcVVxJ5dNE3bfkxL4_1_RlBKoUpwqhd9ihq52aES3sgPKzdD40\u0026t=638476540437705445","id":"ValidatorExtender1","warningIconImageUrl":"/WebResource.axd?d=DFFPE72Wu1qnrwI5F-sEH9PzNVBseM_h96rnxrwF3FBdbk-Vwlkd8iGhahqgGpdGHqSfIE79eerAN3WStPA7-XapsdFSZgJ3YLTg-JWFyzquGVXSktdPzt4-JECq9hCxjXv2jGATS7UwPr2TJvxo8-ldErSFrzkRmNnV2baxB_5iGV4fXYV25ViX5dBFp4EH0\u0026t=638476540437705445"}, null, null, $get("RequiredFieldValidator1"));
});
Sys.Application.add_init(function() {
$create(Sys.Extended.UI.CalendarBehavior, {"format":"dd-MMM-yyyy","id":"CalendarExtender2","selectedDate":"2025-04-03T00:00:00"}, {"dateSelectionChanged":checkDate}, null, $get("txtDateTo"));
});
Sys.Application.add_init(function() {
$create(Sys.Extended.UI.ValidatorCalloutBehavior, {"ClientStateFieldID":"ValidatorCalloutExtender2_ClientState","closeImageUrl":"/WebResource.axd?d=097S8ID2ekrypwNx9SBHpICw7snu13c1CiTLmYEaKemrr-O9wfJ6oDjaf6US-KZgjifmP_uPbQMMhjqihwuNnI4-9_7BBRFYXZsjSmIalTcC9V9SWiF9sEp_R2X4SLquu0B-ovXjwTrJMlODcVVxJ5dNE3bfkxL4_1_RlBKoUpwqhd9ihq52aES3sgPKzdD40\u0026t=638476540437705445","id":"ValidatorCalloutExtender2","warningIconImageUrl":"/WebResource.axd?d=DFFPE72Wu1qnrwI5F-sEH9PzNVBseM_h96rnxrwF3FBdbk-Vwlkd8iGhahqgGpdGHqSfIE79eerAN3WStPA7-XapsdFSZgJ3YLTg-JWFyzquGVXSktdPzt4-JECq9hCxjXv2jGATS7UwPr2TJvxo8-ldErSFrzkRmNnV2baxB_5iGV4fXYV25ViX5dBFp4EH0\u0026t=638476540437705445"}, null, null, $get("RequiredFieldValidator2"));    
});
//]]>
</script>
</form>
</body>
</html>


